<ul class="nav nav-tabs">
  <li [class.active]="activeTab === i"  [class.blinkTab]="newMessageStatus === true && newMessageRoom === room.roomID && activeTab !== i" *ngFor="let room of rooms; let i = index"><a href="#{{room.roomID}}" (click)="activeTab = i; newMessageStatus = false" data-toggle="tab">{{room.name}}</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div *ngFor="let room of rooms; let i = index" [class.active]="activeTab === i" [class.in]="activeTab === i" class="tab-pane fade active in" id="{{room.roomID}}">


    <div perfectScrollbar [stickBottom]="true" class="barScrollWrapper" [style.max-height]="maxHeight">
      <div class="chatList" *ngFor="let message of room.messages">
        <b style="color:gray;">{{message.login}} - {{message.post_date | timeStr}}</b>
        <br>
        {{message.tekst}}
      </div>
    </div>
    <h6 *ngIf="room.messages && room.messages.length === 0" style="color:gray;">Brak wiadomośći</h6>

    <form class="form-inline" role="form" style="margin-top:15px;" (ngSubmit)="sendMessage(room.roomID)">
      <div class="form-group col-lg-8 col-md-6">
        <input type="text" class="form-control customForm" [(ngModel)]="messageModel" name="messageModel" placeholder="Napisz coś" pattern=".*[^ ].*"   required title="2 znaki minimum">
      </div>
      <div class="form-group col-lg-4 col-md-6">
      <button type="submit" class="btn btn-default btn-block">Wyślij</button>
      </div>

    </form>
    <div class="clearBoth"></div>

  </div>
</div>
