.slotShake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.textVerticalDiv {
  vertical-align: middle;
}


.barResponsive {
  height: 5em;
  width: auto;
  line-height: 5em;
}

.slots-margin-top {
  margin-top: 3px;
}

 .rewards{
   border-left: 1px solid #e63326;
 }

 @media screen and (max-width: 768px) {
   .rewards{
     border-left: none;
   }
}
