<div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
  <div class="well" >
    <h4>Szychta</h4><hr>
      <div class="table-responsive" *ngIf="barUserInfo">
        <table class="table">
          <tr>
            <td>Stanowisko</td>
            <td>{{barUserInfo.positionName}}</td>
          </tr>
          <tr>
            <td>Stawka godzinna</td>
            <td>{{barUserInfo.hourMoney | numberFormat}}</td>
          </tr>
          <tr>
            <td>Do awansu pozostało</td>
            <td>{{barUserInfo.timeToNextPosition}} {{barUserInfo.timeToNextPosition === 1 ? 'godzinę' : barUserInfo.timeToNextPosition <= 4 ? 'godziny' : 'godzin'}}</td>
          </tr>
        </table>
      </div>


  </div>

  <div class="well" >
    <h4>Klachy</h4><hr>


    <as-chat [maxHeight]="400"></as-chat>

  </div>

</div>

<div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
  <div class="well" >
    <h4>DziwkoBębny</h4><hr>

    <div class="row">
      <div class=" col-lg-6 colmd-12 col-sm-4 col-xs-12">

      <div [hidden]="isPlaying">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" *ngFor="let column of slotsColumn">
          <img *ngFor="let type of column" src="assets/images/slots/{{type}}.png" class="img-responsive  slots-margin-top" >
        </div>
      </div>

      <div [hidden]="!isPlaying" [class.slotShake]="isPlaying">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
          <img src="assets/images/slots/slotblur.png" class="img-responsive">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="assets/images/slots/slotblur.png" class="img-responsive">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="assets/images/slots/slotblur.png" class="img-responsive">
        </div>
      </div>

      <div class="btn-group-vertical btn-block margin-top-10">



       <div class="table-responsive">
         <table class="table">
           <tr>
             <td>Wygrana</td>
             <td>

               <span class="text-success centerElement" *ngIf="slotsWinnerRewardShow">
                 {{slotsWinnerReward.reward}}
                  <span [ngSwitch]="slotsWinnerReward.type">
                     <span *ngSwitchCase="'money'">Hajsu</span>
                     <span *ngSwitchCase="'slotsPoints'">BębnoPunkty</span>
                     <span *ngSwitchCase="'fame'">Sławy</span>
                     <span *ngSwitchCase="'vip'">Vip</span>
                     </span>
              </span>

             </td>
           </tr>
         </table>
         <table class="table">
           <tr>
             <td>Mnożnik</td>
             <td>{{multiplier}}</td>
           </tr>
           <tr>
             <td>Koszt kręcenia</td>
             <td>{{2 * multiplier}}</td>
           </tr>
           <tr>
             <td>BębnoPunkty</td>
             <td>{{slotsPoints}}</td>
           </tr>
         </table>
       </div>

        <button class="btn btn-success btn-block" (click)="playSlots()">Graj!</button>

        <div class="btn-group" *ngIf="barSlotsInfo">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Kup BębnoPunkty
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-block">
            <li *ngFor="let slotsPoint of barSlotsInfo.slotsPointsPrices"><a (click)="buySlotsPoints(amount)">{{slotsPoint.amount}} punktów za {{slotsPoint.cost}}Vip</a></li>
          </ul>
        </div>
        <button class="btn btn-warning btn-block" (click)="multiplier = multiplier + 1;">Zwiększ Mnożnik</button>
        <button class="btn btn-danger btn-block" (click)="multiplier = multiplier - 1; multiplier = multiplier < 1 ? 1 : multiplier">Zmniejsz Mnożnik</button>
      </div>

    </div>
    <div class=" col-lg-6 colmd-12 col-sm-4 col-xs-12 rewards" *ngIf="barSlotsInfo">
      <div class="row" *ngFor="let reward of barSlotsInfo.slotsRewards">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img src="assets/images/slots/{{reward.type}}.png" class="barResponsive"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" class="barResponsive">{{reward.name}} {{reward.multiplier > 0 ? 'x' + reward.multiplier : ''}}</div>
      </div>
    </div>


    </div>




  </div>


</div>
