<img class="backgroundImage" src="assets/images/bg.jpg">
<div class="mainWrapper">

    <!-- Page Content -->
        <div class="container">
            <div class="row  marginMain">
                <div class="col-lg-7 col-sm-7 col-md-7 col-xs-12">

        <div class="well">

        <h1 class="centerElement">O dziwkach</h1>
        <p>
          ŻYCIE DZIWKI JEST TRUDNE...
          UWAGA WULGARNOŚĆ! Gra więc do łatwych nie należy, trzeba wczuć się w rolę i znać wiele tajemnic tego zawodu, by osiągnąć sukces. Z jednej strony mamy obsługę klientów w wielu lokacjach z drugiej strony rozbudowę burdeli. Świat dziwek powstał z myśli polaka, który nie podążał trendami obecnego rynku gier, przez co gra ma wiele rozwiązań, których nie znajdziecie w innych grach. Wasz admin i alfons wzywa was wszystkich do ruchania! Orgii i burdeli budowania! Jak nie to macie wpierdol soczysty!
        </p>

        </div>

        <div class="well">
        <h1 class="centerElement">Newsy</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia venenatis est, at fringilla tellus fermentum quis. Nulla non metus in dui egestas mollis a nec diam. Fusce ac tincidunt nunc, posuere lobortis sapien. Aliquam diam lacus, egestas nec maximus a, finibus eu augue. Duis egestas, nunc id aliquet vulputate, nunc ipsum elementum justo, non cursus urna lectus eget lacus. Praesent dictum ultricies tellus. Aliquam sit amet semper orci. Etiam eu erat eu libero consectetur porttitor nec sed nibh. Suspendisse porttitor sodales massa, vel fermentum tellus. Suspendisse et lorem non nisi auctor viverra sit amet nec ligula.

        Duis mollis ultrices velit ut ullamcorper. Cras velit mi, dapibus a velit sit amet, lobortis varius est. Praesent ornare consequat tincidunt. Nunc condimentum at augue vitae porta. Morbi sodales vulputate orci eu bibendum. Maecenas eleifend suscipit neque, et facilisis ex. In suscipit, leo non tristique tristique, tellus ex vestibulum diam, sed posuere arcu nibh cursus nisi. In semper nisl in purus gravida, elementum sodales quam blandit.
        </p>
        </div>
                </div>
        <div class="col-lg-5 col-sm-5 col-md-5 col-xs-12">
        <div class="well">
          <div [hidden]="!forgetPasswordFormShow">
            <h1 class="centerElement">Przypomnienie haseła</h1>

            <as-successPopup [message]="successLoginMessage" [show]="successLoginShow"></as-successPopup>
            <as-errorPopup [message]="errorLoginMessage" [show]="errorLoginShow"></as-errorPopup>

            <form class="form-horizontal" (ngSubmit)="sendForgetPasswordForm()" [hidden]="forgetPasswordToken">
              <fieldset>
                <div class="form-group">
                  <label for="inputEmailForget" class="col-lg-2 control-label">Email</label>
                  <div class="col-lg-10">
                    <input [(ngModel)]="forgetPasswordEmail" name="forgetPasswordEmail" type="email" class="form-control" id="inputEmailForget" placeholder="Adres email" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-success btn-block">Wyślij przypomnienie</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button (click)="$event.preventDefault;forgetPasswordFormShow = false" class="btn btn-default btn-block"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Wróć do logowania</button>
                  </div>
                </div>
              </fieldset>
            </form>

            <form class="form-horizontal" (ngSubmit)="sendForgetNewPasswordForm()" [hidden]="!forgetPasswordToken">
              <fieldset>
                <div class="form-group">
                  <label for="inputPasswordForget" class="col-lg-2 control-label">Nowe hasło</label>
                  <div class="col-lg-10">
                    <input [(ngModel)]="forgetNewPasswordFormModel.password" name="password" type="password" class="form-control" id="inputPasswordForget" placeholder="Nowe hasło" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPasswordRepeatForget" class="col-lg-2 control-label">Powtórz hasło</label>
                  <div class="col-lg-10">
                    <input [(ngModel)]="forgetNewPasswordFormModel.passwordRepeat" name="passwordRepeat" type="password" class="form-control" id="inputPasswordRepeatForget" placeholder="Nowe hasło" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-success btn-block">Zmień hasło</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button (click)="$event.preventDefault;forgetPasswordFormShow = false" class="btn btn-default btn-block"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Wróć do logowania</button>
                  </div>
                </div>
              </fieldset>
            </form>


          </div>


          <div [hidden]="forgetPasswordFormShow">
            <h1 class="centerElement">Logowanie</h1>

            <as-successPopup [message]="successLoginMessage" [show]="successLoginShow"></as-successPopup>
            <as-errorPopup [message]="errorLoginMessage" [show]="errorLoginShow"></as-errorPopup>

            <form class="form-horizontal" (ngSubmit)="sendLoginForm()" [hidden]="logedIn">
              <fieldset>
                <div class="form-group">
                  <label for="inputUsername" class="col-lg-2 control-label">Nazwa dziwki</label>
                  <div class="col-lg-10">
                    <input [(ngModel)]="loginFormModel.username" name="username" type="text" class="form-control" id="inputUsername" placeholder="Nazwa dziwki" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="col-lg-2 control-label">Hasło</label>
                  <div class="col-lg-10">
                    <input [(ngModel)]="loginFormModel.password" name="password" type="password" class="form-control" id="inputPassword" placeholder="Hasło" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <a (click)="$event.preventDefault(); forgetPasswordFormShow = true" class="btn btn-link text-danger btn-sm">Zapomniałam haseła :(</a>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary btn-block">Zaloguj</button>
                  </div>
                </div>
              </fieldset>
            </form>
            <div [hidden]="!logedIn">
              <button [routerLink]="['game/shedule']" *ngIf="t1_uid !== 0" class="btn btn-success btn-block">Kurwa 1</button>
              <button (click)="createWorld(1)" *ngIf="t1_uid === 0" class="btn btn-info btn-block">Kurwa 1</button>
              <button class="btn btn-danger btn-block" (click)="logout()">Wyloguj</button>
            </div>
          </div>
        </div>

        <div class="well">
        <h1 class="centerElement">Rejestracja</h1>

        <as-successPopup [message]="successRegisterMessage" [show]="successRegisterShow"></as-successPopup>
        <as-errorPopup [message]="errorRegisterMessage" [show]="errorRegisterShow"></as-errorPopup>
        <form class="form-horizontal" (ngSubmit)="sendRegisterForm()">
          <fieldset>
            <div class="form-group">
              <label for="inputUsername" class="col-lg-2 control-label">Nazwa dziwki</label>
              <div class="col-lg-10">
                <input [(ngModel)]="registerFormModel.username" name="username" type="text" class="form-control" id="inputUsername" placeholder="Nazwa dziwki" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input [(ngModel)]="registerFormModel.email" name="email" type="text" class="form-control" id="inputEmail" placeholder="Adres email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Hasło</label>
              <div class="col-lg-10">
                <input [(ngModel)]="registerFormModel.password" name="password" type="password" class="form-control" id="inputPassword" placeholder="Hasło" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPasswordRepeat" class="col-lg-2 control-label">Powtorz Hasło</label>
              <div class="col-lg-10">
                <input [(ngModel)]="registerFormModel.passwordRepeat" name="passwordRepeat" type="password" class="form-control" id="inputPasswordRepeat" placeholder="Powtorz Hasło" required>
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="registerFormModel.rules" name="rules" type="checkbox"> Akceptuję regulamin
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
              </div>
            </div>
          </fieldset>
        </form>


        </div>
                </div>
            </div>


        </div>
</div>
