<div mobileSpilerMode class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">{{panelTitle}}</h3>
  </div>
  <div class="panel-body">

    <div [hidden]="!job">

      <div *ngIf="jobType === 'odpoczynek'">
        <img class="img-responsive img-rounded centerElement" src="http://25.media.tumblr.com/tumblr_lxrrtdfYNk1r6yf3fo1_400.gif">

      </div>


      <div *ngIf="jobType === 'latarnia'">
        <div [hidden]="!rideBack">
          <img class="img-responsive img-rounded centerElement" src="https://media.giphy.com/media/yc483wBSXmzwQ/giphy.gif">
          <div class="redBackgroundCountdown">
            <h5>{{secondsCounting | secondsStr}}</h5>
          </div>
          <!--<center>
            <div class="progress-radial progress-0">
              <div class="overlayProgress">{{secondsCounting | secondsStr}}</div>
            </div>
          </center>-->
        </div>

        <div [hidden]="rideBack">
          <div [hidden]="!job">

            <div [hidden]="!jobProgressBar">
              <img class="img-responsive img-rounded centerElement" src="https://media.giphy.com/media/LCAFK9C16AsLe/giphy.gif">
                <div class="redBackgroundCountdown">
                  <h5>{{secondsCounting | secondsStr}}</h5>
                </div>
                <!--<center>
                  <div class="progress-radial progress-{{barPercent}}">
                    <div class="overlayProgress">{{secondsCounting | secondsStr}}</div>
                  </div>
                </center>-->
            </div>

            <div [hidden]="jobProgressBar">
              <button *ngIf="jobFast" (click)="whoreJobCall(1)" class="btn btn-success btn-block">Szybko</button>
              <button *ngIf="jobMid" (click)="whoreJobCall(2)" class="btn btn-info btn-block">Tak se</button>
              <button *ngIf="jobLong" (click)="whoreJobCall(3)" class="btn btn-warning btn-block">Hardo</button>
            </div>

          </div>
        </div>
      </div>
      <div *ngIf="jobType === 'bar'">
        <img class="img-responsive img-rounded centerElement" src="http://i.perezhilton.com/wp-content/uploads/2015/11/waitress-tip.gif">
          <div class="redBackgroundCountdown">
            <h5>{{endJobStamp | timeStr}}</h5>
          </div>
      </div>


    </div>
    <div [hidden]="job" class="centerElement">
      <img class="img-responsive img-rounded centerElement" src="http://gifsec.com/wp-content/uploads/GIF/2014/03/Bored-Girl-GIF.gif?gs=a">
    </div>

  </div>
</div>
