<div class="panel panel-success">
  <div class="panel-heading" (click)="showBody()">
    <h3 class="panel-title">Klachy</h3>
  </div>
  <div class="panel-body" [hidden]="!isBodyShow">


<as-chat></as-chat>


  <!--<div class="chatList">
    <b>Moczniak - Dzisiaj 12:23</b>
    <br>
    hehehehehehehehe

  </div>

  <div class="chatList">
    <b>Moczniak - Dzisiaj 12:23</b>
    <br>
    hehehehehehehehe

  </div>

  <div class="chatList">
    <b>Moczniak - Dzisiaj 12:23</b>
    <br>
    hehehehehehehehe

  </div>

  <form class="form-inline" role="form" style="margin-top:15px;">
    <div class="form-group col-lg-8 col-md-6">
      <input type="text" class="form-control customForm" id="exampleInputEmail2" placeholder="Napisz coś" pattern=".{2,}"   required title="2 znaki minimum">
    </div>
    <div class="form-group col-lg-4 col-md-6">
    <button type="submit" class="btn btn-default btn-block">Wyślij</button>
    </div>

  </form>-->



  </div>
</div>
