<div class="panel panel-success">
  <div class="panel-heading" (click)="showBody()">
    <h3 class="panel-title">Twoje zdrowie</h3>
  </div>
  <div class="panel-body" [hidden]="!isBodyShow">

    <div *ngIf="healthInfo">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td>Syf</td>
            <td [ngClass]="{'text-success': !healthInfo.disease, 'text-warning': healthInfo.disease}">{{ healthInfo.disease ? 'Masz syfa' : 'Jesteś czysta' }}</td>
          </tr>
          <tr>
            <td>Ciąża</td>
            <td [ngClass]="{'text-success': !healthInfo.pregnancy, 'text-warning': healthInfo.pregnancy}">{{ healthInfo.pregnancy ? 'Masz obcego :(' : 'Nie będzie 500+' }}</td>
          </tr>
          <tr>
            <td>Okres</td>
            <td [ngClass]="{'text-success': !healthInfo.period, 'text-warning': healthInfo.period}">{{ healthInfo.period ? 'Ale cieknie ;/' : 'Nie ma krwi' }}</td>
          </tr>
        </table>
      </div>

    <div  class="centerElement">
      <b style="font-size:medium;">Chcica</b>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" [ngStyle]="{'width': healthInfo.desire + '%'}"></div>
      </div>
    </div>
    </div>
  </div>
</div>
