<div class="panel panel-success">
  <div class="panel-heading" (click)="showBody()">
    <h3 class="panel-title">Jak ci idzie</h3>
  </div>
  <div class="panel-body" [hidden]="!isBodyShow">

    <div *ngIf="userInfo">

      <div class="table-responsive">
        <table class="table">
          <tr>
            <td>Hajs</td>
            <td class="text-success" [class.animeUpdateText]="moneyChanged">{{userInfo.money | numberFormat}}</td>
          </tr>
          <tr>
            <td>Prestiż</td>
            <td class="text-success" [class.animeUpdateText]="prestigeChanged">{{userInfo.prestige | numberFormat}}</td>
          </tr>
          <tr>
            <td>Sława</td>
            <td class="text-success" [class.animeUpdateText]="fameChanged">{{userInfo.fame | numberFormat}}</td>
          </tr>
          <tr>
            <td>Vip</td>
            <td class="text-success" [class.animeUpdateText]="vipChanged">{{userInfo.vip | numberFormat}}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
