  <div class="well">
    <h4>Dziennik</h4><hr>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#main" data-toggle="tab">Główne</a></li>
      <li><a href="#archive" data-toggle="tab">Archiwum</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="main">


        <div class="table-responsive">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Skasuj</th>
                <th>Tytul</th>
                <th>Dopisek</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer" *ngFor="let raport of mainRaports; let i = index">
                <td (click)="deleteMainRaport(raport.rid, i)"><i class="fa fa-ban text-warning pointer" aria-hidden="true"></i></td>
                <td (click)="openRaport(raport.rid)"><i [hidden]="raport.read !== 0" class="fa fa-book" aria-hidden="true"></i> {{raport.tytul}}</td>
                <td (click)="openRaport(raport.rid)" [class.text-success]="raport.status === 1" [class.text-warning]="raport.status === 0">{{raport.wynik}}</td>
                <td (click)="openRaport(raport.rid)">{{raport.timeget | timeStr}}</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="centerElement" [hidden]="mainRaports.length !== 0"><h5><i>Brak raportów</i></h5></div>

        <div class="centerElement" [hidden]="mainRaports.length === 0">
          <as-inGame-paginate (onSelectPage)="mainSelectPage($event)" [currentPage]="mainCurrentPage" [lastPage]="mainLastPage"></as-inGame-paginate>
        </div>

      </div>




      <div class="tab-pane fade" id="archive">

        <div class="table-responsive">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Skasuj</th>
                <th>Tytul</th>
                <th>Dopisek</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer" *ngFor="let raport of archiveRaports; let i = index">
                <td (click)="deleteArchiveRaport(raport.rid, i)"><i class="fa fa-ban text-warning pointer" aria-hidden="true"></i></td>
                <td (click)="openRaport(raport.rid)"><i [hidden]="raport.read !== 0" class="fa fa-book" aria-hidden="true"></i> {{raport.tytul}}</td>
                <td (click)="openRaport(raport.rid)" [class.text-success]="raport.status === 1" [class.text-warning]="raport.status === 0">{{raport.wynik}}</td>
                <td (click)="openRaport(raport.rid)">{{raport.timeget | timeStr}}</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="centerElement" [hidden]="archiveRaports.length !== 0"><h5><i>Brak raportów</i></h5></div>

        <div class="centerElement"  [hidden]="archiveRaports.length === 0">
          <as-inGame-paginate (onSelectPage)="archiveSelectPage($event)" [currentPage]="archiveCurrentPage" [lastPage]="archiveLastPage"></as-inGame-paginate>
        </div>

      </div>
    </div>

  </div>
