<img class="backgroundImage" src="assets/images/bg.jpg">
<div id="wrapper" [ngClass]="{'toggled': !isMenuOpen}">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="/game/shedule">MakeMeWell.PL</a>
            </li>
            <li class="dropdown" routerLinkActive="open activeMenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-home"></i>Dom <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header"> Dom</li>
                <li routerLinkActive="activeMenu"><a routerLink="/game/shedule">Grafik</a></li>
                <li routerLinkActive="activeMenu"><a routerLink="/game/training">Szkolenie</a></li>
                <li routerLinkActive="activeMenu"><a routerLink="/game/achievements">Osiągnięcia</a></li>
              </ul>
            </li>

            <li routerLinkActive="activeMenu"><a routerLink="/game/bar"><i class="fa fa-fw fa-beer"></i> Bar</a></li>
            <li><a href="#"><i class="fa fa-fw fa-gavel"></i> Sado Maso</a></li>
            <li><a href="#"><i class="fa fa-fw fa-female"></i> Orgia</a></li>
            <li><a href="#"><i class="fa fa-fw fa-bomb"></i> Burdel</a></li>
            <li><a href="#"><i class="fa fa-fw fa-comment-o"></i> Skrzynka</a></li>
            <li routerLinkActive="activeMenu"><a (click)="isNewRaport = false" routerLink="/game/raports"><i class="fa fa-fw fa-flag"></i> Dziennik <i [hidden]="!isNewRaport" class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-trophy"></i> Ranking <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Ranking</li>
                <li><a href="#">Dziwki</a></li>
                <li><a href="#">Klany</a></li>
                <li><a href="#">Galeria</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-fw fa-bank"></i> Klan</a></li>
            <li><a href="#"><i class="fa fa-fw fa-heartbeat"></i> Ekstaza</a></li>
            <li><a href="#"><i class="fa fa-fw fa-certificate"></i> Skwer</a></li>



            <li><a href="#"><i class="fa fa-fw fa-cog"></i> Ustawienia</a></li>
            <li><a href="#"><i class="fa fa-fw fa-diamond"></i> Premium</a></li>
            <li><a href="#"><i class="fa fa-fw fa-comments-o"></i> Forum Gry</a></li>
            <li><a [routerLink]="['/']"><i class="fa fa-fw fa-sign-out"></i> Spierdalam</a></li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <div class="hamburgerContainer" [hidden]="!isMobileStatus">
        <button type="button" id="hamburgerClick" [style.display]="isMobileStatus ? 'block' : 'none'" [ngClass]="{'is-closed': isMenuOpen, 'is-open': !isMenuOpen}" (click)="toggleMenu()" class="hamburger animated fadeInLeft" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
      </div>


        <div [ngClass]="{'hamburger-padding-top' : isMobileStatus}" class="container-fluid">
            <div class="row">

              <div class="col-lg-12">
                <div class="col-lg-4 col-md-4">
                  <as-barPanel></as-barPanel>
                </div>
                <div class="col-lg-3 col-md-3">
                  <as-infoPanel></as-infoPanel>
                </div>


                <div class="col-lg-3 col-md-3">
                  <as-healthPanel></as-healthPanel>
                </div>


                <div class="col-lg-2 col-md-2">
                  <as-actionPanel></as-actionPanel>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-lg-12">
                <as-game-error></as-game-error>
                <as-game-success></as-game-success>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-12">
                <router-outlet></router-outlet>
              </div>
            </div>


        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
