

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="well">
      <h4>Zdobyte osiągnięcia</h4><hr>

      <div class="list-group">
        <a class="list-group-item" *ngFor="let achievement of completed">
          <h4 class="list-group-item-heading">{{achievement.nazwa}}</h4>
          <p class="list-group-item-text">{{achievement.txt}}</p>
        </a>
      </div>

    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="well">
      <h4>Dostępne osiągnięcia</h4><hr>

      <div class="list-group">
        <a class="list-group-item" *ngFor="let achievement of available">
          <h4 class="list-group-item-heading">{{achievement.nazwa}}</h4>
          <p class="list-group-item-text">{{achievement.txt}} (<i>Nagroda: {{achievement.vip}} Vip</i>)</p>
        </a>
      </div>

    </div>
  </div>

</div>
