<div class="col-lg-6 col-xs-12">


  <div class="well" >
    <h4>Aktywne kafelki <span [hidden]="setLocations.length === 0 && setActivatedLocations.length === 0"> - {{finishTime | timeStr}}</span></h4><hr>

    <div *ngFor="let location of setActivatedLocations" class="locationLocked centerElement" [ngStyle]="{'background-image':'url(' + location.image_icon + ')'}" data-html="true" data-toggle="tooltip" data-placement="auto" title=""
     [attr.data-original-title]="'<b>' + location.nazwa + '<br><br>W trakcie ruchania...</b>'">
      <i class="fa fa-bolt" aria-hidden="true"></i>
    </div>

    <img class="location" *ngFor="let location of setLocations; let i = index" (click)="diselectLocation(i);tooltipHide($event)" src="{{location.image_icon}}" data-html="true" data-toggle="tooltip" data-placement="auto" title=""
     [attr.data-original-title]="prepareUnlockedDescription(location)">

     <div class="clearBoth"></div>
     <h6 [hidden]="setLocations.length !== 0 || setActivatedLocations.length !== 0"><i>Brak aktywnych</i></h6>

     <div [hidden]="setLocations.length === 0 && setActivatedLocations.length === 0">
     <hr>
     <div class="btn-group btn-group-justified margin-top-10">
       <a class="btn btn-success" (click)="sheduleUpdate()">Zapisz</a>
       <a class="btn btn-info">Kafelki</a>
       <a class="btn btn-danger">Ucieknij</a>
     </div>
    </div>
  </div>


  <div class="well">
    <h4>Dostępne kafelki</h4><hr>
    <img class="location" *ngFor="let location of locationsUnlocked; let i = index" (click)="selectLocation(i);tooltipHide($event)" src="{{location.image_icon}}" data-html="true" data-toggle="tooltip" data-placement="auto" title=""
     [attr.data-original-title]="prepareUnlockedDescription(location)">


     <div *ngFor="let location of locationsLocked" class="locationLocked  centerElement" [ngStyle]="{'background-image':'url(' + location.image_icon + ')'}" data-html="true" data-toggle="tooltip" data-placement="auto" title=""
      [attr.data-original-title]="prepareLockedDescription(location)">
       <i class="fa fa-lock" aria-hidden="true"></i>
     </div>

     <div *ngFor="let location of locationsToBuy" (click)="modalLocation = location" data-toggle="modal" data-target="#buyLocationModal" class="locationLocked centerElement" [ngStyle]="{'background-image':'url(' + location.image_icon + ')'}">
       <i class="fa fa-key" aria-hidden="true"></i>
     </div>


     <div class="clearBoth"></div>
  </div>

</div>

<div class="col-lg-6 col-xs-12">

  <div class="well">
    <h4>Ustawienia pracy</h4><hr>

    <p>Czas pracy w barze: {{barHour}} {{barHour === 1 ? 'godzinę' : barHour <= 4 ? 'godziny' : 'godzin'}}</p>
    <input type="text" style="width:100%;" id="barHour">

    <p>Czas pracy w lokacjach: {{jobMinutes}} minut</p>
    <input type="text" style="width:100%;" id="jobHour">



    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td>Tryb Alfonsa</td>
            <td data-html="true" data-toggle="tooltip" data-placement="auto" title=""
             data-original-title="Po włączeniu go, obsługa klientów jest automatyczna ale alfons pobiera za to 35% prowizji">
             <input type="checkbox" id="alfonsMode" data-size="mini">
            </td>
          </tr>
          <tr>
            <td>Sprzedajesz się bez gumy?</td>
            <td data-html="true" data-toggle="tooltip" data-placement="auto" title=""
             data-original-title="Zarobki większe o 20% ale możesz złapać syfa lub ciążę">
             <input type="checkbox" id="rubberMode" data-size="mini">
            </td>
          </tr>
          <tr>
            <td>W dupe też bierzesz?</td>
            <td data-html="true" data-toggle="tooltip" data-placement="auto" title=""
             data-original-title="Zarobki większe o 20%, ale jak ci dupsko rozpierdoli, to zapamiętasz to do końca życia">
             <input type="checkbox" id="assMode" data-size="mini">
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div [hidden]="!rubberMode">
      <h6>Dajesz bez gumci</h6><hr>
      <p>(+ 15% do hajsu i prestiżu. Możesz zarazić sie syfem i zajść w ciążę)</p>
        <p>(Po wybraniu tej opcji nie możesz jej zmienić przez 3dni!)</p>
        <p>(Godzine brania tabletek ustawiać możesz co 3dni!)</p>
        <p>Godzina brania tabletek antypłodowych: {{babyHour}}:00</p>
        <input type="text" style="width:100%;" id="babyHour">
    </div>



    <button class="btn btn-success btn-block margin-top-10" (click)="saveGameSettings()">Zapisz</button>

  </div>

</div>



<div class="modal fade" id="buyLocationModal">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="modalLocation">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Odblokuj lokację - {{modalLocation.nazwa}}</h4>
      </div>
      <div class="modal-body">

        <div class="centerElement">
          <img class="modalLocationImg" src="{{modalLocation.image_icon}}">
        </div>
        <div class="row margin-top-10">
          <div class="col-lg-6">
            <p><b>Wymagania:</b></p>
            <li>Odblokowane wszystkie opowiadania</li>
            <li>Prestiż: {{modalLocation.prestizn | number:'2.0-10'}}</li>
            <li>Kursy:</li>
              <ul [innerHTML]="prepareCoursesRequirement(modalLocation)"></ul>
          </div>
          <div class="col-lg-6">
            <p><b>Koszt:</b></p>
            <li>{{modalLocation.k_hajs | number:'2.0-10'}} Hajsu</li>
            <li>{{modalLocation.k_prestiz | number:'2.0-10'}} Prestiżu</li>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary">Odblokuj</button>
      </div>
    </div>
  </div>
</div>
