.location {
  width:5em;
  height:5em;
  border-radius:5px;
  border: 1px solid #e63326;
  margin:0.2em;
  float:left;
  cursor:pointer;
}
.modalLocationImg {
  width:8em;
  height:8em;
  border-radius:5px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  margin:0.2em;
}

.locationLocked{
  width:5em;
  height:5em;
  margin:0.2em;
  border-radius:5px;
  border: 1px solid #e63326;
  background-size: 5em 5em;
  background-repeat: no-repeat;
  float:left;
  cursor:pointer;
}
.locationLocked i{
  font-size:5em;
  color:black;
  cursor:pointer;
}





#buyLocationModal li {
  list-style-type: square;
}
