.training {
  width:8em;
  height:8em;
  border-radius:5px;
  border: 1px solid #e63326;
  margin:0.2em;
  cursor:pointer;
}

.trainingSelected{
  width:6em;
  height:6em;
  border-radius:5px;
  border: 1px solid #e63326;
  margin:0.2em;
  float:left;
  cursor:pointer;
}



.trainingLocked{
  width:6em;
  height:6em;
  margin:0.2em;
  border-radius:5px;
  border: 1px solid #e63326;
  background-size: 6em 6em;
  background-repeat: no-repeat;
  float:left;
  cursor:pointer;
}


.trainingLocked i{
  font-size:5em;
  color:black;
  cursor:pointer;
}
