<div class="well">
  <h4>Aktywne Szkolenie <span *ngIf="activeTraining"> - {{activeTraining.seconds | secondsStr}} </span></h4><hr>

  <div *ngIf="activeTraining" class="trainingLocked centerElement" [ngStyle]="{'background-image':'url(' + activeTraining.img_path + ')'}" data-html="true" data-toggle="tooltip" data-placement="auto" title=""
   [attr.data-original-title]="'<b>' + activeTraining.nazwa + '<br><br>W trakcie szkolenia...</b>'">
    <i class="fa fa-bolt" aria-hidden="true"></i>
  </div>

  <img (click)="diselectSkill(i, training.trainingID);tooltipHide($event)" *ngFor="let training of waitingTraining; let i = index" src="{{training.img_path}}" class="trainingSelected" data-html="true" data-toggle="tooltip" data-placement="auto" title=""
   [attr.data-original-title]="prepareWaitingDesc(training)">


   <div class="clearBoth"></div>
   <h6 [hidden]="runningTraining || waitingTraining.length !== 0"><i>Brak aktywnych</i></h6>

   <div [hidden]="!runningTraining && waitingTraining.length === 0">
   <hr>
   <div class="btn-group btn-group-justified margin-top-10">
     <a class="btn btn-success" (click)="trainingUpdate()">Zapisz</a>
     <a class="btn btn-info">Szkolenie Premium</a>
   </div>
  </div>
</div>


<div class="well">
  <h4>Dostępne Szkolenia</h4><hr>

  <img (click)="selectSkill(training);tooltipHide($event)" *ngFor="let training of availableTrainings" src="{{training.img_path}}" class="training" data-html="true" data-toggle="tooltip" data-placement="auto" title=""
   [attr.data-original-title]="prepareAvailableSkillDesc(training)">

</div>

<div class="well">
  <h4>Ustawienia</h4><hr>
  <p>Punkty szkolenia: {{trainingPoints}}</p>
  <input type="text" style="width:100%;" id="trainingPoints">

  <button class="btn btn-block btn-success margin-top-10" (click)="updateTrainingPoints()">Zapisz</button>
</div>
