// Colors
$barColor: #cc0000;
$overlayColor: #fffde8;
$backColor: #2f3439;

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);


.progress-radial {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid $backColor;
  background-color: $barColor;
  text-align: center;
}



 .overlayProgress{
   width: 60px;
   height: 60px;
   background-color: $overlayColor;
   border-radius: 50%;
   margin-left: 18px;
   margin-top: 18px;
   text-align: center;
   line-height: 60px;
   font-size: 16px;
   color:black;
 }




$step: 1; // step of % for created classes

$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops{
  .progress-#{$i*$step} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
    }@else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
    }
  }
}
