body {
	color: #dddddd;
}


.backgroundImage{
	z-index:-100;
	width:100%;
	height:100%;
	position:fixed;
}

.marginMain{
	margin-top:10em;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
  background-color: rgba(0,0,0,0.5);
}


.panel-title {
	color:white;
	font-weight: normal;
}

.chatList{
	border-bottom:1px solid black;
	padding-top:5px;
	padding-bottom:5px;
}

.customForm{
	max-width:100%;
	width:100% !important;
}


.badge {
	background-color: #cc0000;
}

.slider-handle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #cc0000;
    background-image: -webkit-linear-gradient(top,#cc0000 0,#bd001f 100%);
    background-image: -o-linear-gradient(top,#cc0000 0,#bd001f 100%);
    background-image: linear-gradient(to bottom,#cc0000 0,#bd001f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc0000',endColorstr='#ffbd001f',GradientType=0);
    filter: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    border: 0 solid transparent;
}


.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background: #cc0000;
}


.margin-top-10{
	margin-top:10px;
}

.clearBoth{
	clear:both;
}


.centerElement{
	text-align: center;
	align-items:center;
	margin-left: auto ;
	margin-right: auto ;
}

.pointer{
	cursor: pointer;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #e63326;
}


.redBackgroundCountdown {
	text-align: center;
	background: rgba(34,34,34,1);
	background: -moz-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(204,0,0,1) 30%, rgba(204,0,0,1) 72%, rgba(34,34,34,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,34,34,1)), color-stop(30%, rgba(204,0,0,1)), color-stop(72%, rgba(204,0,0,1)), color-stop(100%, rgba(34,34,34,1)));
	background: -webkit-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(204,0,0,1) 30%, rgba(204,0,0,1) 72%, rgba(34,34,34,1) 100%);
	background: -o-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(204,0,0,1) 30%, rgba(204,0,0,1) 72%, rgba(34,34,34,1) 100%);
	background: -ms-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(204,0,0,1) 30%, rgba(204,0,0,1) 72%, rgba(34,34,34,1) 100%);
	background: linear-gradient(to right, rgba(34,34,34,1) 0%, rgba(204,0,0,1) 30%, rgba(204,0,0,1) 72%, rgba(34,34,34,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#222222', GradientType=1 );
}

.redBackgroundCountdown h5 {
	line-height: 30px;
}


.dropdown-block {
	width: 100%;
}
