// @import "http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
@import "https://daneden.github.io/animate.css/animate.min.css";
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/

// BACKGROUND COLOR
$bg-color: #5a0912;

// TEXT COLOR
$text-color: #fff;

// SIDEBAR LINK COLOR VARIABLES
$side-color-1: #1a1a1a;
$side-color-4: $bg-color;
$side-color-3: darken($side-color-4, 5%);
$side-color-2: darken($side-color-3, 5%);

$side-color-5: lighten($side-color-4, 5%);
$side-color-6: lighten($side-color-5, 5%);
$side-color-7: lighten($side-color-6, 5%);
$side-color-8: lighten($side-color-7, 5%);
$side-color-9: lighten($side-color-8, 5%);
$side-color-10: lighten($side-color-9, 5%);
$side-color-11: lighten($side-color-10, 5%);
$side-color-12: lighten($side-color-11, 5%);


// HAMBURGER COLOR
$hamburger-color-closed: $text-color;
$hamburger-color-open: $text-color;

// WIDTH VARIABLES
$width1: 220px;
$width2: 100px;
$full-width: 100%;

// HEIGHT VARIABLES
$full-height: 100%;

body {
    position: relative;
    overflow-x: hidden;
}
body,
html {
  height: $full-height;
}







.nav {
  .open>a {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
}













/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
  #sidebar-wrapper {
    width: $width1;
  }
  #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
  }
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -webkit-box-shadow: 3px 0px 26px 0px rgba(227,3,3,1);
  -moz-box-shadow: 3px 0px 26px 0px rgba(227,3,3,1);
  box-shadow: 3px 0px 26px 0px rgba(227,3,3,1);
  background: #1a1a1a;
  height: $full-height;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
  &::-webkit-scrollbar {
    display: none;
  }
}
#page-content-wrapper {
  width: $full-width;
}


.hamburgerContainer {
  width: 100%;
  height: 64px;
  background:#1a1a1a;
  position:fixed;
  z-index:10000;
}

.hamburger-padding-top{
  padding-top:70px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: $width1;

  li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: $full-width;
    &:before {
      background-color: #1c1c1c;
      content: '';
      height: $full-height;
      left: 0;
      position: absolute;
      top: 0;
      transition: width .2s ease-in;
      width: 3px;
      z-index: -1;
    }
    &:first-child {
      a {
        background-color: $side-color-1;
        color: #ffffff;
      }
    }
    &:nth-child(2) {
      &:before {
        background-color: $side-color-2;
      }
    }
    &:nth-child(3) {
      &:before {
        background-color: $side-color-3;
      }
    }
    &:nth-child(4) {
      &:before {
        background-color: $side-color-4;
      }
    }
    &:nth-child(5) {
      &:before {
        background-color: $side-color-5;
      }
    }
    &:nth-child(6) {
      &:before {
        background-color: $side-color-6;
      }
    }
    &:nth-child(7) {
      &:before {
        background-color: $side-color-7;
      }
    }
    &:nth-child(8) {
      &:before {
        background-color: $side-color-8;
      }
    }
    &:nth-child(9) {
      &:before {
        background-color: $side-color-9;
      }
    }
    &:nth-child(10) {
      &:before {
        background-color: $side-color-10;
      }
    }
    &:nth-child(11) {
      &:before {
        background-color: $side-color-11;
      }
    }
    &:nth-child(12) {
      &:before {
        background-color: $side-color-12;
      }
    }
    &:hover {
      &:before {
        transition: width .2s ease-in;
        width: $full-width;
      }
    }
    &.activeMenu {
      &:before {
        transition: width .2s ease-in;
        width: $full-width;
      }
    }
    a {
      color: #dddddd;
      display: block;
      padding: 10px 15px 10px 30px;
      text-decoration: none;
    }
  }
  li.open {
    &:hover {
      before {
        transition: width .2s ease-in;
        width: $full-width;
      }
    }
  }
  .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: $full-width;
  }
}
/*
.activeMenu {
  background-color: $side-color-12;
  color: #ffffff !important;
}
*/
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}

#wrapper.toggled #page-content-wrapper {
  padding-left:220px;
}
@media screen and (min-width: 768px) {
  #wrapper.toggled {
    padding-left: 0px;
  }
  #page-content-wrapper {
    padding-top:15px;
  }
}
@media screen and (max-width: 768px) {
  #wrapper.toggled #page-content-wrapper {
    padding-left:0px;
  }
}





/*
@media screen and (min-width: 1650px) {
  #wrapper.toggled #page-content-wrapper {
    padding-left:0px;
  }
}
*/

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/




.hamburger {
  background: transparent;
  border: none;
  display: none;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 999;
  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
.hamburger.is-closed {
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: $width2;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
    .hamb-top {
      -webkit-transition: all .35s ease-in-out;
      top: 0;
    }
    .hamb-bottom {
      -webkit-transition: all .35s ease-in-out;
      bottom: 0;
    }
  }
  .hamb-top {
    -webkit-transition: all .35s ease-in-out;
    background-color: $hamburger-color-closed;
    top: 5px;
  }
  .hamb-middle {
    background-color: $hamburger-color-closed;
    margin-top: -2px;
    top: 50%;
  }
  .hamb-bottom {
    -webkit-transition: all .35s ease-in-out;
    background-color: $hamburger-color-closed;
    bottom: 5px;
  }
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom  {
  height: 4px;
  left: 0;
  position: absolute;
  width: $full-width;
}
.hamburger.is-open {
  .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    background-color: $hamburger-color-open;
    margin-top: -2px;
    top: 50%;
  }
  .hamb-middle {
    background-color: $hamburger-color-open;
    display: none;
  }
  .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    // background-color: #1a1a1a;
    background-color: $hamburger-color-open;
    margin-top: -2px;
    top: 50%;
  }
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: $width2;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
  }
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
